#main {
    height: 500px;
    width: 500px;
    background-color: black;
}

#screen {
    color:white;
    background-color: grey;
}

#numbers {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: yellow;
    padding: 5px;
    
}

.num {
    background-color: green;
    padding: 10px;
}